.font_white {
	color : white;
}

.font_skyblue {
	color : skyblue;
}

.font_blue {
	color : blue;
}

.font_darkcyan {
	color : #008b8b;
}

.font_orange {
	color : orange;
}

.font_royalblue {
	color : #4169e1;
}

.font_sandybrown {
	color : #f4a460;
}

.font_darkorange {
	color : #ff8c00;
}

.font_wheat{
	color : #f5deb3;
}

.font_firebrick{
	color : #b22222;
}

.font_teal{
	color : #008080;
}

.font_deepskyblue{
	color : #00bfff;
}

.font_deeppink{
	color : #ff1493;
}

.font_coral{
	color : #ff7f50;
}

.font_steelblue{
	color : #4682b4;
}

.font_lavender{
	color : #e6e6fa;
}

.font_seagreen{
	color : #2e8b57;
}

.font_salmon{
	color : #fa8072;
}

.font_mediumaquamarine{
	color : #66cdaa;
}

.font_red{
	color : #ff0000;
}

.font_gold{
	color : #ffd700;
}

.font_yellow{
	color : #ffff00;
}